body {
    background-color: rgb(211, 211, 211);
}
#container {
    padding-top:150px;
    width:150px !important;
    margin:auto;
}
#title {
    text-transform:lowercase;
    color:#000;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    padding:5px;
    border: 1px solid #eee;
    border-radius:15px;
    background-color: #fff;

}
#sub-container {
    width: 300px;
    height:300px;
    background-color:#fff;
    border:5px solid #eee;
    border-radius:15px;
}
#list-group {
    padding-top:15px;
}
.list-group-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #000;
    text-transform:lowercase;
    border:none !important;
    border-bottom:1px solid #eee !important;
}

#delete-button {
    border: 1px solid #eee;
    font: size 8px;
    text-align:center;
    padding:6px;
    color:#fff;
    background-color:rgb(103, 154, 231);
}

#input-area {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border:1px solid #eee;
    font-size: 12px; 
    color:#000;
    font-family: 'Montserrat', sans-serif;

}

#input-group {
    padding-top: 10px;
    width:300px;
    margin: auto;
}

#button-area {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color:rgb(103, 154, 231);
    font-size: 12px; 
    color:#fff;
    text-transform:lowercase;
    border: 1px solid #eee;
    font-family: 'Montserrat', sans-serif;
}